<div class="bg-info m-2 p-2" [ngSwitch]="model.getProductCount()">
    <span *ngSwitchCase="0">There are no products</span>
    <span *ngSwitchCase="1">There are 1 products</span>
    <span *ngSwitchCase="2">There are 2 products</span>
    <span *ngSwitchDefault>There are many products</span>
</div>


<div class="bg-info m-2 p-2" [ngSwitch]="model.getProductById(2).name">
    <span *ngSwitchCase="productName">Samsung S5</span>
    <span *ngSwitchCase="'Samsung s6'">Samsung S6</span>
    <span *ngSwitchCase="'Samsung s7'">Samsung S7</span>
    <span *ngSwitchDefault>Other Product</span>
</div>